@import '~node_modules/modern-normalize/modern-normalize.css';

.div1 {
  width: 300px;
  height: 300px;
  background-color: red;
}

.div2 {
  width: 200px;
  height: 200px;
  background-color: black;
}

.div3 {
  width: 100px;
  height: 100px;
  background-color: darkturquoise;
}

body {
  margin: 8px;
  font-family: sans-serif;
}

.output {
  text-align: center;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
}

.color-palette {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
  gap: 4px;
}

.color-palette .item {
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 4px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: transform 250ms ease-in-out;
}

.color-palette .item:hover {
  transform: scale(1.1);
}
